/*This is the style sheet for the WORKING PORTFOLIO */

@font-face {
  font-family: Caveat;
  src: url(../fonts/Caveat-Bold.ttf);
}

@font-face {
  font-family: 'DancingScriptBold';
  src: url(../fonts/DancingScript-Bold.ttf); format: (truetype);
}
body {
  background-image: url("../images/blue.jpg");
  background-color: #d3e2e7;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

header {
  position: fixed;
  width: 600px;
  height: 250px;
  right: 0px;
  z-index:9999;
}

#header {
  height: 100%;
  width: 100%;
  top: 18%;
  position: absolute;
  right: 0;
  text-align: right;
  padding-right: 3%;
  line-height: 60%;
}

#name {
  font-family: 'DancingScriptBold', cursive;
  font-weight: heavy;
  font-style: normal;
  font-size: 650%;
  color: black;
}

header li {
  display: inline;
  margin-right: 25px;
  font-size: 180%;
  line-height: 60%;
  font-family: Caveat, cursive;
}

a:link {
  color: #074e59;
  text-decoration: none;
}
a:visited {
  color: #074e59;
  text-decoration: none;
}
a:hover {
  color: lightgrey;
  text-decoration: underline;
}

/* -----------Home Page--------------------*/
#mainQuote {
  color: white;
  font-size: 200%;
  font-family: DancingScriptBold, cursive;
  position: absolute;
  top: 40%;
  right: 1%;
  text-align: left;
}
#author {
  position: relative;
  left: 45%;
}

/* -----------About Page ------------------*/

#leaves {
  background-image: url('../images/blueback.png');
  background-position: center center;
  background-size: cover;
  height: 580px;
  width: 650px;
  position: fixed;
  top: 5%;
  left: 5%;
  border: 3px solid #074e59;
  color: white;
  padding: 8px;
  font-family: Caveat, cursive;
  font-size: 140%;
  overflow-x: none;
  overflow-y: scroll;
}

#aboutImages {
  position: relative;
  width: 670px;
  height: 590px;
  margin-top: -150px;
  margin-left: 30px;
  margin-right: 8px;
  direction: rtl;
  overflow: scroll;
  overflow-x: hidden;
}

.column {
  width: 100px;
  display: inline-block;
  margin-right: 20px;
  }

.item img {
  width: 100%;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 8px;
  margin-top: 0px;
}

/* ---------------------- Resume Page ------------------*/
#resume {
  text-align: left;
}

#resume a img {
margin: 6%;
margin-top: -100px;
margin-left: 10%;
padding: 2%;
width: 300px;
height: 400px;
border: 6px double #074e59;
display: inline-block;
}

/* -------------------- Contact Page ---------------------- */
#contactNav {
  margin: 0 auto;
  margin-top: 15%;
  width: 100%;
  display: inline-block;
  text-align: center;
  }

#contactNav img {
  width: 50px;
  margin: 20px;
  display: inline-block;
}

#email {
  font-size: 180%;
  color: white;
  font-family: Caveat;
}

/*------- Portfolio Page -----------*/

#portfolioHead {
  width: 500px;
  font-family: Caveat, cursive;
  color: white;
  font-size: 150%;
  margin-top: -50px;
  margin-left: 30px;
}

#portfoliolinks {
  margin-top: 30px;
}

figure {
  vertical-align: top;
  display: inline-block;
  width: 220px;
  margin-top: 35px;
  margin: 0 10px;
  padding: 8px;
  color: white;
}

figcaption {
  padding-bottom: 8px;
  font-size: 120%;
}

figure img {
  max-width: 220px;
  border-radius: 0px 25px;
}

figure p {
  background-color: rgba(24, 82, 67, .3);
  padding: 5px;
  border-radius: 3px;
}

figure a {
  color: yellow;
}
