/*This is the style sheet for the WORKING PORTFOLIO */

@font-face {
  font-family: Caveat;
  src: url(../fonts/Caveat-Bold.ttf);
}

@font-face {
  font-family: 'DancingScriptBold';
  src: url(../fonts/DancingScript-Bold.ttf); format: (truetype);
}

body {
  background-image: url("../images/blue.jpg");
  background-color: #d3e2e7;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

header {
  position: fixed;
  width: 600px;
  height: 250px;
  right: 0px;
  z-index:9999;
}

#header {
  height: 100%;
  width: 100%;
  top: 18%;
  position: absolute;
  right: 0;
  text-align: right;
  padding-right: 3%;
  line-height: 60%;
}

#name {
  font-family: 'DancingScriptBold', cursive;
  font-weight: heavy;
  font-style: normal;
  font-size: 650%;
  color: black;
}

header li {
  display: inline;
  margin-right: 25px;
  font-size: 180%;
  line-height: 60%;
  font-family: Caveat, cursive;
}

a:link {
  color: #074e59;
  text-decoration: none;
}
a:visited {
  color: #074e59;
  text-decoration: none;
}
a:hover {
  color: lightgrey;
  text-decoration: underline;
}

/* -----------Home Page--------------------*/
#mainQuote {
  color: white;
  font-size: 200%;
  font-family: DancingScriptBold, cursive;
  position: absolute;
  top: 40%;
  right: 1%;
  text-align: left;
}
#author {
  position: relative;
  left: 45%;
}

/* -----------About Page ------------------*/

#leaves {
  background-image: url('../images/blueback.png');
  background-position: center center;
  background-size: cover;
  height: 580px;
  width: 650px;
  position: fixed;
  top: 5%;
  left: 5%;
  border: 3px solid #074e59;
  color: white;
  padding: 8px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 140%;
  overflow-x: none;
  overflow-y: scroll;
  /*direction: rtl;*/
}

#leaves li {
  margin: 10px 20px 5px 0px;
}

#leaves::-webkit-scrollbar {
    background: transparent;
    width: 8px;
}

#leaves::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(232, 234, 237, 0.5);
}

#leaves::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-radius: 10px;
	background-image: -webkit-gradient(linear,
                    left top,
                    left bottom,
                    color-stop(0.30, rgb(174, 180, 191)),
                    color-stop(0.45, rgb(85, 107, 147)),
                    color-stop(0.85, rgb(13, 33, 71)));
}

#aboutImage1 {
  visibility: hidden;
  height: 0px;
}

#aboutImage2 {
  position: absolute;
  right: 8%;
  top: 45%;
  max-width: 400px;
  box-shadow: 0 0 20px black;
  border-radius: 5px;
  visibility: visible;
}


/* ---------------------- Resume Page ------------------*/
#resume {
  text-align: left;
}

#resume a img {
margin: 6%;
margin-top: -100px;
margin-left: 10%;
padding: 2%;
width: 300px;
height: 400px;
border: 6px double #074e59;
display: inline-block;
}

/*.showNow {
  visibility: visible;
  position: absolute;
  bottom: 2%;
  font-size: 200%;
  color: white;
}

.hideNow {
  visibility: hidden;
}*/
/* -------------------- Contact Page ---------------------- */
#contactNav {
  margin: 0 auto;
  margin-top: 15%;
  width: 100%;
  display: inline-block;
  text-align: center;
  }

#contactNav img {
  width: 50px;
  margin: 20px;
  display: inline-block;
}

#email {
  font-size: 180%;
  color: white;
  font-family: Caveat;
}

/*------- Portfolio Page -----------*/

#portfolioHead {
  width: 530px;
  font-family: 'Cardo', serif;
  color: #f2e6e3;
  font-size: 135%;
  margin-top: -70px;
  margin-left: 30px;
}

#portfolioLinks {
  margin-top: 30px;
}

figure {
  vertical-align: top;
  display: inline-block;
  width: 220px;
  margin-top: 35px;
  margin: 0 10px;
  padding: 8px;
  color: #f2e6e3;
}

figcaption {
  padding-bottom: 8px;
  font-size: 120%;
  color: #f2e6e3;
  font-family: 'Cardo', serif;
}

figure img {
  max-width: 220px;
  border-radius: 0px 25px;
}

figure img:hover {
  box-shadow: 0 0 50px #c46b4e;
}

figure p {
  padding: 5px;
  border-radius: 3px;
  color: #f2e6e3;
  font-family: 'Cardo', serif;
}

figure a:link {
  color: yellow;
}

#hideThis {
  visibility: hidden;
  height: 0px;
  overflow: hidden;
}
