<div id="leaves">
    <p>I'm a born adventurer form the wilds of the Upper Peninsula of Michigan. I grew up building forts
      in the woods and jumping off cliffs into Lake Superior. I reveled in the solitude and the magnitude
      of nature, absorbing anything and everything around me.</p>
    <p>In 2013 I packed up my car and headed south, driving 13 hours through a snowstorm in the beginning
      of April. I had come to Metro Detroit to start my career in health care, but sadly managed to lose a sense
      of myself in the mountains of paperwork, the rat race of being understaffed and overworked, the grim
      outlook of the oncology ward and the smell of C-Diff.</p>
    <p>Thus began my journey of "self discovery".</p>
    <ul>
      <lh>Things I discovered about myself:</lh>
        <li>I work extremely well under pressure and my time management skills are much better
          when I have a lot on my plate</li>
        <li>People actually really like me when I’m not sticking them with needles and waking
          them up in the middle of the night or interrupting their breakfast</li>
        <li>I can learn how to do just about anything pretty quickly</li>
        <li>I need to be making things or solving problems to actually feel valuable</li>
        <li>I want a desk job: I never thought I would say that, but having the energy to run
          ten miles after work feels invaluable</li>
    </ul>
    <p>After about a year and a half of feeling like my life was going nowhere fast I came to
      three conclusions:<br><blockquote>I could go back to being a respiratory therapist (which I’d
        promised myself I would never do),
        I could go back to college for an MPH or a bachelors in Mechanical Engineering or Graphic
        Communications (which were all very time consuming and expensive options),
        OR I could take a leap of faith and join a Computer Programming Boot Camp.</blockquote></p>
    <p>I joined the Grand Circus Front-End Boot Camp in April and by graduation in June I’d learned HTML,
      CSS, JavaScript, jQuery, AngularJS, Node.js, AJAX, JSON, and SQL. Although it may seem too soon to
      tell (it’s only been three weeks), I can say with full certainty that it was one of the best experiences
      and decisions of my life. Grand Circus gave me a solid foundation to build off of and a strong desire
      and knowhow to learn everything I possibly can. With technology the possibilities are virtually
      endless and the ability to create just about anything is really powerful. I love that programming
      allows me to think creatively and logically and that there are so many different ways to solve a problem.
      The world is changing rapidly as technology improves and it feels much less intimidating when you
      are actually a part of it.</p>
    <p>To many years of learning and exploration and many future weekend getaways to jump in a lake and climb a mountain, Cheers!!</p>
</div>
