<div id="leaves">
  <p>I'm a born adventurer form the wilds of the Upper Peninsula of Michigan. I grew up building forts in the woods and jumping off cliffs into Lake Superior. I reveled in the solitude and the magnitude of nature, absorbing anything and everything around me.

In 2013 I packed up my car and headed south, drivning 13 hours through a snowstorm in the beginning of April. I had come to Metro Detroit to start my career in health care, but managed to lose a sense of myself in the mountains of paperwork, the rat race of being understaffed and overworked, the grim outlook of the oncology ward and the smell of C-Diff.</p>

</div>

<!-- <div id="aboutImages">
  <div class="column">
  <div class="item">
    <img src="images/about/bridge.jpg">
    <p></p>
  </div>
  <div class="item" ngsReveal>
    <img src="images/about/Lakes1.jpg" alt="Great Lakes wood burning">
    <p></p>
  </div>
  <div class="item" ngsReveal>
    <img src="images/about/cave.jpg">
    <p></p>
  </div>
  <div class="item" ngsReveal>
    <img src="images/about/falls.jpg">
    <p></p>
  </div>
  <div class="item" ngsReveal>
    <img src="images/about/Dorthy.jpg" alt="Dorthy pencil drawing">
    <p></p>
  </div>
  <div class="item" ngsReveal>
    <img src="images/about/gum.jpg">
    <p></p>
  </div>
    <div class="item" ngsReveal>
    <img src="images/about/gus.png">
    <p></p>
  </div>
  <div class="item" ngsReveal>
    <img src="images/about/stevens.jpg" alt="Cat Stevens">
    <p></p>
  </div>
  <div class="item" ngsReveal>
    <img src="images/about/heart.jpg">
    <p></p>
  </div>
  <div class="item" ngsReveal>
    <img src="images/about/ice.jpg">
    <p></p>
  </div>
  <div class="item" ngsReveal>
    <img src="images/about/insideCaveBlue.jpg">
    <p></p>
  </div>
  <div class="item" ngsReveal>
    <img src="images/about/tree.jpg" alt="Jennifer Naasz in tree">
    <p></p>
  </div>
  <div class="item" ngsReveal>
    <img src="images/about/isle.jpg">
    <p></p>
  </div>
  <div class="item" ngsReveal>
    <img src="images/about/lake.jpg">
    <p></p>
  </div>
</div> <!--End of left column-->


<div class="column">
<div class="item" ngsReveal>
  <img src="images/about/beach.png">
  <p></p>
</div>
  <div class="item" ngsReveal>
    <img src="images/about/run.jpg">
    <p></p>
  </div>
  <div class="item" ngsReveal>
    <img src="images/about/SD.jpg">
    <p></p>
  </div>
  <div class="item" ngsReveal>
    <img src="images/about/cat.jpg">
    <p></p>
  </div>
  <div class="item" ngsReveal>
    <img src="images/about/snow.jpg">
    <p></p>
  </div>
  <div class="item" ngsReveal>
    <div class="aboutImage">
      <img src="images/about/star.jpg">
      <p></p>
    </div>
  <div class="item" ngsReveal>
    <img src="images/about/superior.jpg">
    <p></p>
  </div>
  <div class="item" ngsReveal>
    <img src="images/about/boone.jpg">
    <p></p>
  </div>
  <div class="item" ngsReveal>
    <img src="images/about/superiorBurn.jpg" alt="Lake Superior Wood Burning">
    <p></p>
  </div>
  <div class="item" ngsReveal>
    <img src="images/about/Leia.jpg" alt="Princess Leia wood burning">
    <p></p>
  </div>
    <div class="item" ngsReveal>
    <img src="images/about/NaaszWood.jpg" alt="Richard Naasz wood burning">
    <p></p>
  </div>
  <div class="item" ngsReveal>
    <img src="images/about/over.jpg">
    <p></p>
  </div>
  <div class="item" ngsReveal>
    <img src="images/about/guy.jpg" alt="Oil painting of boy">
    <p></p>
  </div>
  <div class="item" ngsReveal>
    <img src="images/about/grand.jpg" alt="Jimmy O'Neil colored pencil drawing">
    <p></p>
  </div>
</div> -->
</div>
