<div id="contactNav">
  <div id="contactBox">
  <a href="https://www.instagram.com/jnaaasz/"><img src="images/instagram.png"></a>
  <a href="https://twitter.com/jennaasz">
    <img src="images/twitter.png" id="twitter"></a>
  <a href="https://www.linkedin.com/in/jennifer-naasz/"><img src="images/linkedin.png"></a>
  <a href="https://github.com/JNaasz"><img src="images/git.png"></a>
<div>
  <a href="mailto:naasz.jl@gmail.com" id="email">Shoot me an email: naasz.jl@gmail.com</a>
</div>
</div>
</div>
