<h3 id="portfolioHead">Access my GitHub page via the contact navigation to see more including projects utilizing Node.js and SQL.</h3>

<div id="portfolioLinks">

<figure>
  <figcaption>Reddit Search</figcaption>
  <a href="https://jnaasz.github.io/Lab11-Reddit/"><img src="images/portfolio/reddit.png" alt="link to reddit project"></a>
  <p>This app uses jQuery to search the Reddit API</p>
</figure>
<figure>
  <figcaption>Globe Animation</figcaption>
  <a href="https://jnaasz.github.io/Globe-Animation/"><img src="images/portfolio/globe.png" alt="link to globe project"></a>
  <p>Enter a radius to find the area of a circle</p>
</figure>
<figure>
  <figcaption>Color Changer</figcaption>
  <a href="https://jnaasz.github.io/ColorChanger/"><img src="images/portfolio/color.png" alt="link to color changer app"></a>
  <p>Navigation bar that prompts CSS animations and transitions</p>
</figure>
<figure>
  <figcaption>FizzDraw</figcaption>
  <a href="https://jnaasz.github.io/Lab18/#!/view1"><img src="images/portfolio/cards.png"></a>
  <p>A two page AngularJS app with external sortable dependancy</p>
</figure>
<figure>
  <figcaption>BookBuddies</figcaption>
  <a href="http://book-buddies.herokuapp.com/#!/login"><img src="images/portfolio/book.png" alt="link to BookBuddies app"></a>
  <p>Final project for Grand Circus: a book swapping app built in AnjusarJS utilizing the GoogleBooks and MailJet API's and a SQL database. Created as a group with <a href="https://github.com/BFalls158">Brian Falls</a>, <a href="https://github.com/emilyrn">Emily Nelson</a> and <a href="https://github.com/cellhaze">Marcell Hayes</a>.</p>
</figure>
</div>
